<div class="hero">
    <div style="margin-left: 17vw;">
        
        <h1> {{satish}}</h1>
    </div>
    <div>
        <img src="https://test.ismart.devanasoft.com.np/ng/assets/images/ismart-logo.png" alt="" width="100px">
    </div>
    <div class="infor">
        <div class="time-info">
            <div class="time-table">
               <time datetime=""></time>
            </div>
            <div>babu123    </div>
            <div><p>Lorem ipsum dolor sit.</p></div>
        </div>
        <div>
            <div>
                <img src="https://test.ismart.devanasoft.com.np/ng/assets/images/refresh.png" alt="" height="20px" width="30px" >
            </div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
